name: nps_plugin
description: A Flutter component that presents Net Promoter Score (NPS) survey.
version: 0.0.1
homepage: https://github.com/wellitonklein/nps_plugin

environment:
  sdk: '>=3.1.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
